<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">

    <section th:replace="fragments/commons::welcome"></section>

    <div class="container mt-5 mb-5 align-content-center  " style="text-justify: auto">
        <div class="row ">
            <div class="col-sm p-3">
                <div class="mapouter text-warning">

                    <div class="gmap_canvas">
                        <h5>OUR LOCATION IN BOROVETS RESORT</h5>
                        <iframe width="600" height="500" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=42.26235278175839,%2023.602563997923713&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://123movies-a.com"></a><br>
                        <style>.mapouter {
                            position: relative;
                            text-align: center;
                            height: 500px;
                            width: 700px;
                        }</style>
                        <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                        <style>.gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 600px;
                        }</style>
                    </div>
                </div>
            </div>
            <div class="col-sm text-warning p-3">

                <div class="top-box top-box-a">
                    <h5>WEATHER IN BOROVETS</h5>
                    <h5 class="mt-3"><span id="box-a-temp">15</span><span>&#8451;</span><img id="box-a-img" src="/images/sun.png" height="75px" alt=""></h5>
                </div>

                <h5>HOTEL ANDRORIA BOROVETS</h5>

                <p class="mt-3" style="font-size:20px">
                    For events:
                    (+359) 02 80 0000/0001;
                </p>
                <p class="mt-3" style="font-size:20px">
                    Reception:
                    (+359) 0000 00 000,
                    (0000) 00 000
                </p>

                <p class="mt-3" style="font-size:20px">
                    <i class="fa fa-envelope" style="font-size:20px"> androria@androriaborovets.bg</i>
                </p>

                <form
                        th:action="@{/contacts/send}"
                        th:object="${messageSendBindingModel}"
                        th:method="POST"
                        method="POST" class="text-warning text-center text-light">
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label text-warning">Email</label>
                        <div class="col-sm-10">
                            <input
                                    th:field="*{email}"
                                    th:errorclass="is-invalid"
                                    type="text" class="form-control" id="email"
                                    aria-describedby="emailHelpInline" placeholder="email@example.com">
                            <small id="emailHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                Enter valid email address.
                            </small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label text-warning">Your message</label>
                        <div class="col-sm-10">
                    <textarea th:field="*{text}"
                              th:errorclass="is-invalid" class="form-control" id="description"
                              aria-describedby="descriptionHelpInline" placeholder="Description">
                    </textarea>
                            <small id="descriptionHelpInline" class="invalid-feedback bg-danger text-light rounded">
                                The description must be more than 5 characters.
                            </small>
                        </div>
                    </div>

                    <button class="emailbutton bg-warning " style="font-size:24px">email us<i
                            class="fa fa-envelope"></i></button>
                </form>


            </div>

        </div>
    </div>

    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center mt-2 ml-sm-2"
       href="/" role="button">BACK</a>

    <script th:src="@{/js/weather.js}"></script>

</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>