<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head">
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">


    <section class="site-header text-warning">
        <h1 >Here you find users who were logged in today.</h1>
    </section>

    <h5 class="text-warning align-content-center"><p>Users who browsed today are:</p></h5>
    <div th:each="u : ${usersWhoBrowsedToday}" th:object="${u}" class="container align-content-center bg-dark p-1 mt-0">
        <div class="row align-content-center bg-dark">
            <li class="list-group-item bg-dark text-warning">
                <div class="card-text bg-dark text-info"><span th:text="| - Username: *{username}|">user</span></div>
            </li>
        </div>
    </div>

    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center mt-5" href="/"
       role="button">BACK</a>
</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>