.jumbotron {
    background-image: url(/images/mountainHotel.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: 2000px 1000px;
}

.bg-blur {
    background-color: rgba(0, 0, 0, 0.7); /* Black w/opacity/see-through */
}

.site-header {
    /* background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6)); */
    background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.6));
    background-image: url(/images/mountainHotel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.site-header-employee{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.site-header h1 {
    font-size: 60px;
    /*color: #882e0e;*/
    width: 50%;
    margin: 0%;
    padding: 90px 0px 300px 90px;
}

.site-header-employee h1 {
    font-size: 40px;
    /*color: #882e0e;*/
    width: 30%;
    margin: 0%;
    padding: 20px 20px 20px 20px;
}

.buttonRooms {
    align-content: center;
    width: 60%;
    margin-left: 700px;
    padding: 20px 0;
}

/*!* Navigation *!*/
/*.main-nav ul {*/
/*    display: grid;*/
/*    grid-gap: 20px;*/
/*    padding: 0;*/
/*    list-style: none;*/
/*    grid-template-columns: repeat(4, 1fr);*/
/*}*/
