<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head">
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">


    <section class="site-header text-danger">
        <h1>Here you can view all bookings and remove those that are expired</h1>
    </section>


    <div th:each="b : ${expiredBookings}" th:object="${b}" class="container align-content-center bg-dark p-2 mt-5">

        <div class="card-text bg-dark text-info"><span></span></div>
        <div class="row align-content-center bg-dark">
            <li class="list-group-item bg-dark text-warning">
                <div class="card-text bg-dark text-info"><span th:text="|BOOKING ID:  *{id}|">id</span></div>
                <div class="card-text bg-dark text-info"><span th:text="|Guest full name:  *{fullName}|">Full name</span></div>
                <div class="card-text bg-dark text-info"><span th:text="|Check out date:  *{checkOut}|">Check out</span>
                </div>
            </li>
        </div>

        <form th:action="@{/bookings/remove/{id}(id = *{id})}" th:method="post"><input
                class="nav-link text-danger bg-dark" type="submit" value="REMOVE BOOKING!">
        </form>


    </div>


    <div th:each="bne : ${notExpiredBookings}" th:object="${bne}"
         class="container align-content-center bg-dark p-2 mt-1">

        <div class="card-text bg-dark text-info"><span></span></div>
        <div class="row align-content-center bg-dark">
            <li class="list-group-item bg-dark text-warning">
                <div class="card-text bg-dark text-info"><span th:text="|BOOKING ID:  *{id}|">id</span></div>
                <div class="card-text bg-dark text-info"><span th:text="|Guest full name:  *{fullName}|">Full name</span></div>
                <div class="card-text bg-dark text-info"><span th:text="|Check out date:  *{checkOut}|">Check out</span>
                <div class="card-text bg-dark text-info"><span th:text="|Notes:  *{text}|">Notes</span></div>
                </div>
            </li>

        </div>

    </div>

    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center mt-5" href="/" role="button">BACK</a>
</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>