<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head">
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">

    <section th:replace="fragments/commons::welcome"></section>

    <div class="container align-content-center bg-dark p-4">
        <div class="row align-content-center">

            <div class="container-fluid">
                <h3 class="text-center text-danger mt-5">We have a problem here!</h3>
                <h3 class="text-center text-danger mt-1">-> File: <th:block th:text="${fileName}"></th:block></h3>
                <h3 class="text-center text-danger mt-1">-> File size: <th:block th:text="${fileSize}"></th:block>MB</h3>
                <h3 class="text-center text-danger mt-1">It seems that file is either not image/jpeg or file size is greater than 5MB.</h3>
            </div>

        </div>
    </div>

    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center mt-5 mb-1" href="/"
       role="button">HOME</a>


</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>