<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head">
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">

    <section th:replace="fragments/commons::welcome"></section>

    <div class="container align-content-center bg-dark p-4">
        <div class="row align-content-center">

            <div class="mb-3 ml-4 mr-3 mt-3">
                <div class="bg-warning card p-2 ml-3 mr-3" style="width: 19rem;">
                    <img class="card-img-top p-3" width="140" height="220" src="/images/doublerooom.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Our rooms</h5>
                        <p class="card-text font-italic">Here you can take a look at
                            our nice sunny comfortable and warm rooms.</p>
                        <a href="/rooms" class="btn btn-dark text-uppercase text-warning">rooms</a>
                    </div>
                </div>
            </div>

            <div class="mb-3 ml-3 mr-3 mt-3">
                <div class="bg-warning card p-2 ml-3 mr-3" style="width: 19rem;">
                    <img class="card-img-top p-3" width="140" height="220" src="/images/restaurant.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Restaurant</h5>
                        <p class="card-text font-italic">You are welcome to our quite restaurant
                            where we can offer you
                            premium meals and fine drinks.</p>
                        <a href="/restaurant" class="btn btn-dark text-uppercase text-warning">restaurant</a>
                    </div>
                </div>
            </div>

            <div class="mb-3 ml-3 mr-3 mt-3">
                <div class="bg-warning card p-2 ml-3 mr-3" style="width: 19rem;">
                    <img class="card-img-top p-3" width="140" height="220" src="/images/parking.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Parking</h5>
                        <p class="card-text font-italic">All hotel guest can have free parking
                        for the time of their stay in Androria hotel.</p>
                        <a href="/parking" class="btn btn-dark text-uppercase text-warning">parking</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>