<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head">
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">


    <section class="site-header text-danger">
        <h1>
            Here you can view all messages from contact form.
        </h1>
    </section>


    <div th:each="m : ${allMessages}" th:object="${m}" class="container align-content-center bg-dark p-0 mt-0">

        <div class="card-text bg-dark text-warning"><span></span></div>

        <div class="row align-content-center bg-dark">
            <li class="list-group-item bg-dark text-warning">
                <div class="card-text bg-dark text-warning"><span th:text="|FROM EMAIL:  *{guest.getEmail()}|">Email</span>
                </div>
                <div class="card-text bg-dark text-warning"><span th:text="|RECIEVED ON DATE:  *{posted}|">DATE</span>
                </div>
                <div class="card-text bg-dark text-warning"><span th:text="|MESSAGE:  *{messageText}|">Message</span></div>
            </li>
        </div>
    </div>
    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center mt-5" href="/" role="button">BACK</a>
</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>