<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head">
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">


    <section class="site-header text-warning">
        <h1 th:if="${noOffers} == false">Here you can find our offers</h1>
        <h1 th:if="${noOffers} == true">We do not have any offers at the moment. Please visit
            our site very soon!</h1>
    </section>


    <div th:each="o : ${offers}" th:object="${o}" class="container align-content-center bg-dark p-2 mt-0">
        <div class="row align-content-center bg-dark">
            <li class="list-group-item bg-dark text-warning">
                <!--                <div class="card-text bg-dark text-info"><span th:text="|Offer posted by: *{addedBy}|">Posted by</span></div>-->
                <div class="card-text bg-dark text-red align-content-center"><span
                        th:text="|OUR OFFER FOR *{room} IS:|">RoomType</span></div><br>
                <div class="card-text bg-dark text-info"><span
                        th:text="|If you book for more than: *{stay} days,
                        you get a discount of *{#numbers.formatDecimal(discount, 1, 0)}% from the total sum.|">Discount</span>
                </div>
                <div class="card-text bg-dark text-info"><span th:text="|If you have more than 3 bookings in our hotel so far,
                 you become a vip customer and no matter how long you will stay, you get a discount of *{#numbers.formatDecimal(vipDiscount, 1,0)}% from the total sum.|">vip Discount</span>
                </div><br>
                <div class="card-text bg-dark text-info"><span
                        th:text="|Additionl notes:|">description</span></div>
                <div class="card-text bg-dark text-info"><span
                        th:text="|*{description}|">description</span></div>
            </li>
        </div>
    </div>

    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center mt-5" href="/"
       role="button">BACK</a>
</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>