<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main " class="bg-dark">

    <section th:replace="fragments/commons::welcome"></section>

    <div class="container align-content-sm-center bg-dark rounded p-5 mt-5 w-75">
        <div th:each="p: ${allPictures}">
            <img width="500" height="250" th:src="${p.getUrl()}" th:alt="${p.getTitle()}">
            <div class="card-text bg-dark text-info"><span th:text="|Title: *{p.getTitle()}|">Picture title</span></div>

            </br>
            <form th:action="@{/pictures/delete}" th:method="delete">
                <input type="hidden" name="public_id" th:value="${p.getPublicId()}">
                <input class="btn btn-warning bg-dark text-warning align-content-center"
                        type="submit" value="delete">
            </form>
            <br/>

        </div>
    </div>

    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center w-20 mt-5"
       href="/" role="button">HOME</a>

</main>
<footer th:replace="fragments/commons::footer"></footer>

</body>
</html>