<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
</head>
<body class="bg-dark">
<header th:replace="fragments/commons::nav">
</header>
<main role="main" class="bg-dark">

    <section th:replace="fragments/commons::welcome"></section>

    <div class="container align-content-center bg-dark p-4">
        <div  class="row align-content-center">
            <img th:each="p:${doubleRoomPictures}" width="351" th:src="${p.url}"
                 class="rounded float-left mb-3 ml-3 mt-3 ml-3 p-3" alt="">
        </div>

        <section class="roomDescr text-warning justify-content-center"><p>"Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est
            laborum."</p></section>

    </div>

    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center" href="/rooms" role="button">BACK</a>
</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>