<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav">
</header>

<main role="main" class="bg-dark">


    <section th:replace="fragments/commons::welcome"></section>

    <div class="container align-content-center bg-dark p-4">
        <div class="row align-content-center">

            <div class="mb-3 ml-4 mr-3 mt-3">
                <div class="bg-warning card p-2 ml-3 mr-3" style="width: 19rem;">
                    <img class="card-img-top p-3" width="140" height="220" src="/images/doublerooom.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Double rooms</h5>
                        <p class="card-text font-italic">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="/rooms/double" class="btn btn-dark text-uppercase text-warning">Double</a>
                    </div>
                </div>
            </div>

            <div class="mb-3 ml-3 mr-3 mt-3">
                <div class="bg-warning card p-2 ml-3 mr-3" style="width: 19rem;">
                    <img class="card-img-top p-3" width="140" height="220" src="/images/apartment.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Apartments</h5>
                        <p class="card-text font-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="/rooms/apartment" class="btn btn-dark text-uppercase text-warning">Apartment</a>
                    </div>
                </div>
            </div>

            <div class="mb-3 ml-3 mr-3 mt-3">
                <div class="bg-warning card p-2 ml-3 mr-3" style="width: 19rem;">
                    <img class="card-img-top p-3" width="140" height="220" src="/images/studio.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Studio</h5>
                        <p class="card-text font-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <a href="/rooms/studio" class="btn btn-dark text-uppercase text-warning">Studio</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <a class="btn btn-dark btn-block btn-warning bg-dark text-warning align-content-center" href="/"
       role="button">BACK</a>

</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>