<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/commons::head">
</head>

<body class="bg-dark">
<header th:replace="fragments/commons::nav"></header>

<main role="main" class="bg-dark">

    <section th:replace="fragments/commons::welcome"></section>

    <div class="container align-content-center bg-dark p-4">
        <div class="row align-content-center">

            <div class="container-fluid">
                <h1 class="text-center text-danger mt-5">This is STATISTICS PAGE!</h1>
                <h3 class="text-center text-info mt-5">Total requests <th:block th:text="${stats.getTotalRequests()}"></th:block></h3>
                <h3 class="text-center text-info mt-5">Anonymous requests <th:block th:text="${stats.getAnonRequests()}"></th:block></h3>
                <h3 class="text-center text-info mt-5">Authorized requests <th:block th:text="${stats.getAuthRequests()}"></th:block></h3>
            </div>


        </div>
    </div>

</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>